FLASK_APP=app.wsgi:app
SECRET_KEY=change-me
DATABASE_URL=postgresql://craftxiv:craftxiv@db:5432/craftxiv
POSTGRES_USER=craftxiv
POSTGRES_PASSWORD=craftxiv
POSTGRES_DB=craftxiv

OAUTH_SUPPORTED_PROVIDERS=google,github

GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
GOOGLE_SERVER_METADATA_URL=https://accounts.google.com/.well-known/openid-configuration
GOOGLE_OAUTH_SCOPE=openid email profile

GITHUB_CLIENT_ID=change-me
GITHUB_CLIENT_SECRET=change-me
GITHUB_API_BASE_URL=https://api.github.com/
GITHUB_ACCESS_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_AUTHORIZE_URL=https://github.com/login/oauth/authorize
GITHUB_OAUTH_SCOPE=read:user user:email
GITHUB_USER_PATH=user
GITHUB_USER_EMAILS_PATH=user/emails

GARLAND_TOOLS_BASE_URL=https://www.garlandtools.org
GARLAND_TOOLS_SEARCH_PATH=/api/search.php
GARLAND_TOOLS_ITEM_PATH_TEMPLATE=/db/doc/item/en/3/{game_id}.json
GARLAND_TOOLS_REQUEST_TIMEOUT=10
